extends ./layout.jade

block content
  h1(class="page-header") Metadati ap
  form(method="post" action="/signin")
      label email
      input(type="text" name="email")
      br
      label password
      input(type="password" name="password")
      br
      button(type="submit") login
