extends layout.jade

block content
  h1(class="page-header text-center") CMS Metadati
  section(class="row")
    div(class="col-xs-6 col-xs-offset-3")
      form(method="post" action="/signin" )
        +input("email","email","email","email","email")
        +input("password","password","password","password","password")
        +submit("log in")
