include ../node_modules/jade-bootstrap/_bootstrap.jade
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		link(rel="icon",href="../../favicon.ico")
		title= title
    // STYLES
    link(rel="stylesheet", href="/styles/boostrap.css")
    link(rel="stylesheet", href="/styles/folder/style.css")
    link(rel="stylesheet", href="/styles/myStyle.css")
    // STYLES END
	body(data-spy="scroll",data-target=".scrollspy")
    nav
      block nav
    main
      block content
		// SCRIPTS
		script(src="/js/dependencies/sails.io.js")
		// SCRIPTS END
