extends ../node_modules/jade-bootstrap/_bootstrap.jade

append styles
  // STYLES
  link(rel="stylesheet", href="/styles/boostrap.css")
  link(rel="stylesheet", href="/styles/folder/style.css")
  link(rel="stylesheet", href="/styles/myStyle.css")
  // STYLES END
