doctype html
html(lang="en" ng-app="login")
  head
    // STYLES
    link(rel="stylesheet", href="/styles/boostrap.css")
    link(rel="stylesheet", href="/styles/folder/style.css")
    link(rel="stylesheet", href="/styles/myStyle.css")
    link(rel="stylesheet", href="/vendor/bower_components/ng-admin/build/ng-admin.min.css")
    // STYLES END
  body
    div(ui-view="")
    
    script(src="/vendor/bower_components/ng-admin/build/ng-admin.min.js")    
    script(src="/vendor/bower_components/angular-cookies/angular-cookies.min.js")
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/login.js")
      
