doctype html
html(lang="en")
  head
    block title
    // STYLES
    link(rel="stylesheet", href="/styles/boostrap.css")
    link(rel="stylesheet", href="/styles/folder/style.css")
    link(rel="stylesheet", href="/styles/myStyle.css")
    // STYLES END

  body
    main
      block content
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    // SCRIPTS END
