extends admins/mixins/mixins.jade
append styles
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")
  // STYLES
  link(rel="stylesheet", href="/styles/boostrap.css")
  link(rel="stylesheet", href="/styles/folder/style.css")
  link(rel="stylesheet", href="/styles/myStyle.css")
  link(rel="stylesheet", href="/vendor/bower_components/ng-admin/build/ng-admin.min.css")
  // STYLES END
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
  
block content
  .container
    each message in flash.get('danger')
      +alert-danger(message)
    each message in flash.get('warning')
      +alert-warning(message)
    each message in flash.get('success')
      +alert-success(message)
append scripts
  //script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js")
  // SCRIPTS
  script(src="/vendor/bower_components/angular/angular.min.js")
  script(src="/vendor/bower_components/ng-admin/build/ng-admin.min.js")
  script(src="/js/dependencies/sails.io.js")
  script(src="/js/interceptors.js")
  script(src="/js/login.js")
  script(src="/js/ng-admin.js")
  // SCRIPTS END
