doctype html
html(lang="en" )
  head
    // STYLES
    link(rel="stylesheet", href="/styles/boostrap.css")
    link(rel="stylesheet", href="/styles/folder/style.css")
    link(rel="stylesheet", href="/styles/myStyle.css")
    link(rel="stylesheet", href="/vendor/bower_components/ng-admin/build/ng-admin.min.css")
    // STYLES END
  body
    div(ui-view="")
    // TEMPLATES
    script(type="text/javascript", src="/jst.js")
    // TEMPLATES END
    
    // SCRIPTS
    script(src="/vendor/bower_components/ng-admin/build/ng-admin.min.js")
    script(src="/vendor/bower_components/angular-cookies/angular-cookies.min.js")
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/interceptors.js")
    script(src="/js/login.js")
    script(src="/js/ng-admin.js")
    script(src="/js/services.js")
    // SCRIPTS END
  
