doctype html
html(lang="en")
  head
    block title
    // STYLES
    link(rel="stylesheet", href="/styles/mystyle.css")
    // STYLES END

  body
    main
      block content
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    // SCRIPTS END
