extends ../layout.jade

append content
  +navCustom(req.user)
  main.container-fluid
    div.row
      section.col-md-2
        +menu(req.user, page)  
      section.col-md-10
        block page
          h1.page-header.text-center Pannello Amministrazione, 
            small ruolo: #{req.user.role}                      
