extends ../index.jade

block page
  +navtabsCustom(page, req.user, 'new')
  h1.page-header.text-center Aggiungi un nuovo #{page} 
  if(previousData)
    +newForm(req.user, previousData, err)
  else
    +newForm(req.user)
