extends ../index.jade

block page
  +navtabsCustom(page, req.user, 'show')
  h1.page-header.text-center Dettagli #{page}
  each field in sails.config.fields_helper.fieldsInfo[page].fields
    if(sails.config.authorization.show_field(req.record.model, 'show', field.name, req.user))
      +panel-default(field.name)   
        if(field.association)
          case field.association.type
            when 'single'
              each fieldInner in sails.config.fields_helper.fieldsInfo[field.name].fields 
                if(!fieldInner.association)
                  p #{result[field.name][fieldInner.name]}
        else
          p= result[field.name]
