<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form class="" ng-submit="submit()">
      <label  for="email">username</label>
      <input class="form-control" id="email" type="email" name="email" ng-model="login.email">
      <br>
      <label for="password">password</label>
      <input class="form-control" id="password" type="password" name="password" ng-model="login.password">
      <button class"btn btn-standard" type="submit" name="button">Login</button>
    </form>
  </div>
</div>
